<div class="footer-wrapper">
    <div id="sidebar-footer" class="footer-widgets" role="complementary">
        <div class="container">
            <div class="sidebar-column col-md-4">
                <aside id="nav_menu-3" class="widget widget_nav_menu">
                    <h3 class="widget-title">Services</h3>
                    <div class="menu-services-container">
                        <ul id="menu-services" class="menu">
                            <li id="menu-item-243" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-243"><a href="index.html#">Design and Dev work</a></li>
                            <li id="menu-item-244" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-244"><a href="index.html#">Planning and Strategy</a></li>
                            <li id="menu-item-245" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-245"><a href="index.html#">Consulting and Marketing</a></li>
                            <li id="menu-item-246" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-246"><a href="index.html#">Accounting and Finance</a></li>
                            <li id="menu-item-247" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-247"><a href="index.html#">Management and Resources</a></li>
                        </ul>
                    </div>
                </aside>
            </div>

            <div class="sidebar-column col-md-4">
                <aside id="text-12" class="widget widget_text">
                    <h3 class="widget-title">About us</h3>
                    <div class="textwidget">Astrid can help you to quickly create an awesome business website. All the features you need are waiting for you in this business theme: color options, fonts, full width header image, custom widgets, blog options and many
                        other interesting and useful options.</div>
                </aside>
            </div>
        </div>
    </div>
    <div class="footer-info">
        <div class="container">
            <div class="footer-branding">
                <a href="index.html" title="Astrid"><img class="footer-logo" src="images/texton.logo.png" alt="Astrid" /></a>
            </div>
            <div class="footer-contact">
                <div class="footer-contact-block">&nbsp;<br/><i class="fa fa-home"></i><span>Hauptstr. 23<br/>53340 Meckenheim</span></div>
                <div class="footer-contact-block">&nbsp;<br/><i class="fa fa-envelope"></i><span><a href="info@text-on.de">info&#064;texton&#046;&#100;e<br/>&nbsp;</a></span></div>
                <div class="footer-contact-block">&nbsp;<br/><i class="fa fa-phone"></i><span>+49.172.4522074<br/>&nbsp;</span></div>
            </div>
        </div>
    </div>

    <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="site-info container">
            <nav id="footernav" class="footer-navigation" role="navigation">
                <div class="menu-menu-container">
                    <ul id="footer-menu" class="menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-200"><a href="http://demo.athemes.com/astrid" aria-current="page">Home</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-267"><a href="blog/index.html">Blog</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290"><a href="shop/page/1/index.html">Shop</a></li>
                    </ul>
                </div>
            </nav>
            <!-- #site-navigation -->
            <div class="site-copyright">
                Powered by <a href="https://www.gatsbyjs.com">Gatsby</a><span class="sep"> | </span>Navigation: inspired by <a href="http://athemes.com/theme/astrid" rel="nofollow">Astrid</a> by aThemes. </div>
        </div>
        <!-- .site-info -->
    </footer>
    <!-- #colophon -->
</div>
