<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="home theme-astrid">
        {{- partial "preload.html" . -}}
        <div id="page" class="site">
            <a class="skip-link screen-reader-text" href="index.html#content">Skip to content</a>
            <header id="masthead" class="site-header has-header" role="banner">
                {{- partial "header.html" . -}}
            </header>
            <div class="header-clone" style="height: 83px;"></div>
            <div id="content">
                {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
        </div>
        <script type='text/javascript' src='/themes/athemes/astrid/5.7.2/js/main.js' id='astrid-main-js'></script>
        <script type='text/javascript' src='/themes/athemes/astrid/5.7.2/js/scripts.min.js' id='astrid-scripts-js'></script>
    </body>
</html>
